policy_module(jira, 0.1.0)

require {
  type container_runtime_t;
  class process execmem;
}

## <desc>
## <p>
## Allow a container process to run as jira_t
## </p>
## </desc>
gen_tunable(jira_run_in_container, false)

## <desc>
## <p>
## By default only DB and HTTP connections are allowed. Set to true
## to allow tcp connections to anywhere.
## </p>
## </desc>
gen_tunable(jira_can_network_connect, false)

# The template will generate these types:
# * jira_log_t
# * jira_exec_t
# * jira_t
# * jira_cache_t
# * jira_var_lib_t
# * jira_var_run_t
# * jira_tmp_t
tomcat_domain_template(jira)

allow jira_t self:process execmem;
allow jira_t self:tcp_socket { listen accept };

auth_read_passwd(jira_t)
dev_write_rand(jira_t)

corenet_tcp_bind_http_cache_port(jira_t)

corenet_tcp_connect_ldap_port(jira_t)

postgresql_stream_connect(jira_t)
postgresql_unpriv_client(jira_t)
postgresql_tcp_connect(jira_t)

mysql_read_config(jira_t)
mysql_stream_connect(jira_t)
mysql_rw_db_sockets(jira_t)
mysql_tcp_connect(jira_t)

corenet_tcp_connect_oracle_port(jira_t)
corenet_sendrecv_oracle_client_packets(jira_t)


tunable_policy(`jira_run_in_container',`
  virt_exec_sandbox_files(jira_t)
  virt_manage_sandbox_files(jira_t)
  domtrans_pattern(container_runtime_t, jira_exec_t, jira_t)
')

tunable_policy(`jira_can_network_connect',`
	corenet_tcp_connect_all_ports(httpd_t)
')
